<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="row">
          <div class="col-md-5">
            <div class="logo">
              <%= image_tag "/assets/logo.png", class: "img-fluid" %>
            </div>
            <div class="footer-text">
              Our promise to you is responsive communication and transparency. When you call or e-mail us, we respond right away and explain all clearly.
            </div>
          </div>
          <div class="col-md-5 offset-md-2">
            <div class="social-box">
            <span class="social-network">Follow us:</span>
            <div class="social-icons">
              <%= image_tag "/assets/btm_t_off.png" %>
              <%= image_tag "/assets/btm_f_off.png" %>
              <%= image_tag "/assets/btm_g_off.png" %>
              <%= image_tag "/assets/btm_v_off.png" %>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>